.navMenu {
    background-color: aquamarine;
    height: fit-content;
}
.navMenu #name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    color: rgb(1, 37, 105);
    width: fit-content;
}
.navMenuActions #accessButton {
    width: 45%;
}
#avatar-user-image {
    margin-left: auto;
    height: 50px;
    width: 50px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/2784/2784403.png);
    background-size: cover;
    border-radius: 50%;
    background-color: rgba(127, 255, 212, 0);
}
.navMenuActions {
    margin-left: auto;
    float: left;
    margin-top: 1%;
    width: fit-content;
    height: fit-content;
    
}